/* ========== Fonts ========== */

/* ========== CSS Reset ========== */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding: 1rem;
    background-color: var(--white);
}

img {
    max-width: 250px;
    height: auto;
}

/* ========== Root Variables ========== */
:root {
    /* ========== Colors ========== */
    --white: #ffffff;
    --blue: #00A4DF;
    --dark-blue: #005289;
    --orange: #F4A336;
    --text-color: #202020;
}

/* ========== Reusable CSS ========== */
.required::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: greenyellow;
}

img {
    max-width: 250px;
    height: auto;
}

/* ===== Form CSS ===== */


